<a href="https://colab.research.google.com/github/eliyanto29/Joko-Eliyanto/blob/master/1_variabel_dan_tipe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MATERI 1**

---

# **VARIABEL DAN TIPE DATA**

# **1. Variabel**
*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**a.   Membuat sebuah variabel dengan berbagai tipe data dan struktur data Python**

In [ ]:
var1 = 'Hello World!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = True #bool
var5 = 1j+1 #complex
var6 = [1,2,3,4] # list
var7 = (1,2,3,4) # tuple
var8 = {1,2,3,4} # set
var9 ={"angka":[1,2,3,4]} #dictonary

**b. Memanggil variabel**

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex
print(var6) #struktur list yang berisi tipe data integer
print(var7) #struktur tuple yang berisi tipe data integer
print(var8) #struktur set yang berisi tipe data integer
print(var9) #struktur dictonary yang berisi tipe data integer

Hello World!
1234567890
0.123456789
True
(1+1j)
[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3, 4}
{'angka': [1, 2, 3, 4]}

## **2. TIPE DATA DAN STRUKTUR**
*   Tipe data dan struktur dalam python berguna untuk mengidentifikasikan sebuah data atau nilai 
*   Tipe data dan struktur mempunyai sifatnya masing-masing (akan dibahas masing-masing dimateri selanjutnya)

**TIPE DATA:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)
**STRUKTUR DATA:**
1.   List
2.   Tuple
3.   Set
4.   Dictonary

**a. Melihat Tipe data dan Struktur data dari variabel**

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))
print(var6,'Struktur data var6:', type(var6))
print(var7,'Struktur data var7:', type(var7))
print(var8,'Struktur data var8:', type(var8))
print(var9,'Struktur data var9:', type(var9))

Hello World! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
True Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>
[1, 2, 3, 4] Struktur data var6: <class 'list'>
(1, 2, 3, 4) Struktur data var7: <class 'tuple'>
{1, 2, 3, 4} Struktur data var8: <class 'set'>
{'angka': [1, 2, 3, 4]} Struktur data var9: <class 'dict'>

# **2.1 KONVERSI TIPE DATA**

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

**2.1.1 TIPE DATA AWAL BERUPA INTEGER**

In [ ]:
number = 10
print("data =", number, ", type =", type(number))

data = 10 , type = <class 'int'>

In [ ]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  10.0 ,type = <class 'float'>
data =  10 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

In [ ]:
# Konversi integer boolean akan menghasilkan False jika integernya 0
bool1 = 0
kon_bool1 = bool(bool1)
print("data = ", kon_bool1 , ",type =", type(kon_bool1))

data =  False ,type = <class 'bool'>

**2.1.2 TIPE DATA AWAL BERUPA FLOAT**

In [ ]:
float1 = 5.5
print("data =", float1, ", type =", type(float1))

data = 5.5 , type = <class 'float'>

In [ ]:
# Mengkonversi tipe data float
kon_int = int(float1)
kon_str = str(float1)
kon_bool = bool(float1) #False jika float = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_int , ",type =", type(kon_int))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  5 ,type = <class 'int'>
data =  5.5 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

**2.1.3 TIPE DATA AWAL BERUPA BOOLEAN**

In [ ]:
bool1 = True
print("data =", bool1, ", type =", type(bool1))

data = True , type = <class 'bool'>

In [ ]:
# Mengkonversi tipe data boolean
kon_int = int(bool1) #True = 1 and False = 0
kon_str = str(bool1)
kon_float = float(bool1) #True = 1.0 and False = 0.0

# Melihat data yang telah dikonversi
print("data = ", kon_int , ",type =", type(kon_int))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_float , ",type =", type(kon_float))

data =  1 ,type = <class 'int'>
data =  True ,type = <class 'str'>
data =  1.0 ,type = <class 'float'>

**2.1.4 TIPE DATA AWAL BERUPA STRING**

In [ ]:
str1 = '10'
print("data = ", str1 , ",type =", type(str1))

data =  10 ,type = <class 'str'>

In [ ]:
# Mengkonversi tipe data string
kon_int = int(str1) #string akan diubah ke interger jika nilai berupa angka, jika berupa karakter maka akan error
kon_bool = bool(str1) #akan "False" jika nilai dari string kosong
kon_float = float(str1) #string akan diubah ke float jika nilai berupa angka, jika berupa karakter maka akan error

# Melihat data yang telah dikonversi
print("data = ", kon_int , ",type =", type(kon_int))
print("data = ", kon_bool , ",type =", type(kon_bool))
print("data = ", kon_float , ",type =", type(kon_float))

data =  10 ,type = <class 'int'>
data =  True ,type = <class 'bool'>
data =  10.0 ,type = <class 'float'>

# **2.2 KONVERSI STRUKTUR DATA**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

**2.2.1 STRUKTUR DATA AWAL BERUPA LIST**

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

**2.2.2 STRUKTUR DATA AWAL BERUPA TUPLE**

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ("satu","dua","tiga","empat","lima")
print("data = ", tuple1 , ",type =", type(tuple1))

data =  (1, 2, 3, 4, 5) ,type = <class 'tuple'>

In [ ]:
# Mengkonversi struktur data tuple
kon_list = list(tuple1)
kon_set = set(tuple1)
kon_dict = dict(zip(tuple2,tuple1))

# Melihat data yang telah dikonversi
print(kon_list)
print(kon_set)
print(kon_dict)

[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

**2.2.3 STRUKTUR DATA AWAL BERUPA SET**

In [ ]:
set1 = {1,2,3,4,5}
set2 = {"satu","dua","tiga","empat","lima"}
print("data = ", set1 , ",type =", type(set1))

data =  {1, 2, 3, 4, 5} ,type = <class 'set'>

In [ ]:
# Mengkonversi struktur data set
kon_list = list(set1)
kon_tuple = tuple(set1)
kon_dict = dict(zip(set2,set1))

# Melihat data yang telah dikonversi
print(kon_list)
print(kon_tuple)
print(kon_dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'dua': 1, 'tiga': 2, 'satu': 3, 'empat': 4, 'lima': 5}

**2.2.4 STRUKTUR DATA AWAL BERUPA DICTONARY**

In [ ]:
dict1 = {
    'satu': 1,
    'dua': 2,
    'tiga': 3,
    'empat': 4,
    'lima': 5
}

print(dict1)

{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

In [ ]:
# Membuat variabel untuk menampung keys dan values dari dictonary
konversi1 = dict1.keys()
konversi2 = dict1.values()

# Mengkonversi struktur data dictonary
kon_list1 = list(konversi1)
kon_list2 = list(konversi2)
kon_tuple1 = tuple(konversi1)
kon_tuple2 = tuple(konversi2)
kon_set1 = set(konversi1)
kon_set2 = set(konversi2)

# Melihat data yang telah dikonversi
print(kon_list1)
print(kon_list2)
print(kon_tuple1)
print(kon_tuple2)
print(kon_set1)
print(kon_set2)

['satu', 'dua', 'tiga', 'empat', 'lima']
[1, 2, 3, 4, 5]
('satu', 'dua', 'tiga', 'empat', 'lima')
(1, 2, 3, 4, 5)
{'dua', 'tiga', 'satu', 'empat', 'lima'}
{1, 2, 3, 4, 5}